.nav-link {
  text-decoration: underline rgba(0, 0, 0, 0) 5px;
  text-underline-offset: 0.4em;
  transition:
    text-decoration-color 300ms,
    text-underline-offset 300ms;
}

.nav-link:hover:not(.active) {
  text-decoration: underline rgba(0, 0, 0, 50%) 5px;
  text-underline-offset: 0.8em;
}

.nav-link:has(+ .dropdown-menu:hover):not(.active) {
  text-decoration: underline rgba(0, 0, 0, 50%) 5px;
  text-underline-offset: 0.8em;
}

.nav-link.active {
  text-decoration: underline rgba(0, 0, 0, 100%) 5px;
}

.header-item:hover {
  ul {
    display: block;
  }
}
