@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply typography-h1;
  }
  h2 {
    @apply typography-h2;
  }
  h3 {
    @apply typography-h3;
  }
  ol,
  ul,
  menu {
    padding-left: 32px;
    margin-bottom: 16px;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  cite {
    @apply typography-mobile-h4 lg:typography-desktop-tag3 text-white not-italic;
  }
  blockquote {
    @apply typography-h1;
    @apply bg-transparent border-l-0 text-white px-0;
  }
  blockquote::before {
    @apply text-white typography-h1 -mr-[5px] align-[0px];
    @apply lg:typography-h1 lg:-mr-[11px] lg:align-[0px];
  }
  blockquote::after {
    @apply text-white typography-h1 -ml-[5px] align-[0px];
    @apply lg:typography-h1 lg:-ml-[11px] lg:align-[0px];
  }
}

@layer components {
}

@layer utilities {
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .custom-cursor {
    cursor:
      url('../public/images/custom-cursor.svg') 16 16,
      pointer;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Reponsive typography */
  .typography-h1 {
    @apply typography-mobile-h1 lg:typography-desktop-h1;
  }
  .typography-h2 {
    @apply typography-mobile-h2 lg:typography-desktop-h2;
  }
  .typography-h3 {
    @apply typography-mobile-h3 lg:typography-desktop-h3;
  }
  .typography-b1 {
    @apply typography-mobile-b1 lg:typography-desktop-b1;
  }
  .typography-b2 {
    @apply typography-mobile-b2 lg:typography-desktop-b2;
  }
  .typography-b3 {
    @apply typography-mobile-b3 lg:typography-desktop-b3;
  }
  .typography-b4 {
    /* b4 to desktop and b2 to mobile. Eg: Terms of use */
    @apply typography-mobile-b2 lg:typography-desktop-b4;
  }
  .typography-tag1 {
    @apply typography-mobile-tag1 lg:typography-desktop-tag1;
  }
  .typography-tag2 {
    @apply typography-mobile-tag2 lg:typography-desktop-tag2;
  }
  .typography-tag3 {
    @apply typography-mobile-tag3 lg:typography-desktop-tag3;
  }
  /* Typography by screen */
  .typography-mobile-h1 {
    @apply font-[550] text-[40px] leading-[48px] font-aspekta;
  }
  .typography-mobile-h2 {
    @apply font-[350] text-[30px] leading-[36px] font-aspekta;
  }
  .typography-mobile-h3 {
    @apply font-[350] text-[26px] leading-[32px] font-aspekta;
  }
  .typography-mobile-h4 {
    @apply font-[550] text-[26px] leading-[32px] font-aspekta;
  }
  .typography-mobile-b1 {
    @apply font-[350] text-[22px] leading-[30px] font-aspekta;
  }
  .typography-mobile-b2 {
    @apply font-[350] text-[16px] leading-[22px] font-aspekta;
  }
  .typography-mobile-b3 {
    @apply font-[350] text-[18px] leading-[28px] font-aspekta;
  }
  .typography-mobile-tag1 {
    @apply font-[500] text-[14px] leading-[19px] tracking-[2px] font-mono;
  }
  .typography-mobile-tag2 {
    @apply font-[550] text-[14px] leading-[24px] uppercase font-aspekta;
  }
  .typography-mobile-tag3 {
    @apply font-[550] text-[18px] leading-[28px] font-aspekta;
  }
  .typography-desktop-h1 {
    @apply font-[550] text-[60px] leading-[66px] font-aspekta;
  }
  .typography-desktop-h2 {
    @apply font-[350] text-[48px] leading-[52px] font-aspekta;
  }
  .typography-desktop-h3 {
    @apply font-[350] text-[32px] leading-[42px] font-aspekta;
  }
  .typography-desktop-b1 {
    @apply font-[350] text-[24px] leading-[32px] font-aspekta;
  }
  .typography-desktop-b2 {
    @apply font-[350] text-[20px] leading-[30px] font-aspekta;
  }
  .typography-desktop-b3 {
    @apply font-[350] text-[16px] leading-[24px] font-aspekta;
  }
  .typography-desktop-b4 {
    @apply font-[350] text-[14px] leading-[20px] font-aspekta;
  }
  .typography-desktop-tag1 {
    @apply font-[500] text-[14px] leading-[19px] tracking-[2px] font-mono;
  }
  .typography-desktop-tag2 {
    @apply font-[550] text-[15px] leading-[24px] uppercase font-aspekta;
  }
  .typography-desktop-tag3 {
    @apply font-[650] text-[22px] leading-[28px] font-aspekta;
  }
}
