@import './header.scss';
@import './banner.scss';
@import './list.scss';
@import './table.scss';
@import './memberlogo.scss';
@import './rainbow.scss';
@import './quotes.scss';
@import './panel.css';
@import './swiper.scss';
@import './cards-with-pagination.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

$soafee-color: #dedc00;

html {
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
  color: #292728;
}

.wrapper-lg {
  @apply px-[4%];
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// @include media-breakpoint-up(md) {
//   .twowide-text {
//     padding-top: 0px !important;
//     padding-bottom: 0px !important;
//   }

//   .twowide-title {
//     padding-top: 0px !important;
//     padding-bottom: 0px !important;
//   }
// }

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
